
# === Django ===
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# === Database (PostgreSQL) ===
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

# === Redis ===
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# === External APIs ===
COUNTRY_STATE_CITY_API_KEY=
GEO_API_KEY=
GOOGLE_MAPS_API_KEY=

# === Security ===
HASHIDS_SALT=
