{% extends 'main_temp/base.html' %}
{% load static %}

{% block title %}Password Change{% endblock title %}

{% block content %}


    <h1>Зміна пароля</h1>
    <p>
        З міркувань безпеки введіть свій старий пароль, а потім двічі введіть новий пароль, 
щоб ми могли перевірити, що ви ввели його правильно.
    </p>
    
    <form action="" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
         <button type="submit" class="text-sm px-3 py-1 bg-orange-500 text-white rounded hover:bg-orange-60">
          Відправити
        </button>        
    </form>
{% endblock content %}